<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="etoETestcases.BankManagerLoginTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Add Customer Test">
  <classes>
  <class name="etoETestcases.AddCustomerTest"/>
  </classes>
  </test>
</suite> <!-- Suite -->
